<header class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left">
    <div>
        <h1 class="text-5xl font-bold pb-2">Protect your password</h1>
        <p class="my-4 text-2xl">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis vel eius.</p>
        <button class="bg-indigo-500 px-3 py-3 hover:bg-indigo-400">
            Start now
        </button>
    </div>
    <img src="Images/finger.svg" alt="" class="w-80">
</header>